.timeLabel, .dayLabel {
    font-size: 1.6rem;
    fill: #AAAAAA;
    font-weight: 300;
}

text.axis-workweek, text.axis-worktime {
    fill: #404040;
    font-weight: 400;
}

.title {
    font-size: 2.8rem;
    fill: #4F4F4F;
    font-weight: 300;
}

.subtitle {
    font-size: 1.4rem;
    fill: #AAAAAA;
    font-weight: 300;
}
  
.credit {
    font-size: 1.2rem;
    fill: #AAAAAA;
    font-weight: 400;
}

.axis path, .axis tick, .axis line {
      fill: none;
      stroke: none;
  }

text {
      font-size: 1.2rem;
      fill: #AAAAAA;
      font-weight: 400;
}

.legendTitle {
      font-size: 1.6rem;
      fill: #4F4F4F;
      font-weight: 300;
}